
@media only screen and (max-width: 1200px) {
    body{
        padding: 0 0;
    }
    header .header-content{
        width:100%;
    }
    .header-content .header-grid{
        width: 100%;
        float: left;
        height: 90px;
        display: flex;
        align-items: center;
        margin: 16px 0;
        font-size: 30px;
        position: relative;
        justify-content: center;
    }
    img.logo {
        width: 100%;
    }
    .header-content .nav-wrap{
        border-bottom: 4px solid white;
        justify-content: center;
    }
    .nav-wrap ul{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }
    .nav-wrap ul li{
        padding: 0;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
    }
    .nav-wrap ul li a{
        font-size: 20px;
    }
    .nav-wrap ul .active{
        background-color: var(--active_color);
    }
    .header-bigimg .bigimg{
        display: block;
        width: 87%;
        position: absolute;
        top: -50px;
        right: -75px;
        display: none;
    }
    .header-about {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 100%;
        margin: 20px 0;
        position: relative;
    }
    .header-bigimg{
        height: 500px;
        display: none;
    }
    .header-about .header-text {
        /* text-align: center; */
        position: relative;
        width: 100%;
        padding-left: 50px;
    }
    .header-about div div{
        width: 100%;
    }
    .header-about h2{
        margin-top: 20px;
        font-weight: 500;
        font-size: 30px;
    }
    .header-about li{
        font-size: var(--primary_size);
        display: block;
        margin: -4px 20px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        font-weight: 100;
    }
    .small-social{
        width: 100%;
    }
    .small-social li{
        display: inline-block;
        margin: 18px 18px;
    }
    
    .primary-button{
        padding:12px 24px;
        background-color: var(--danger_color);;
        border: none;
        font-size: var(--small_size);
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .primary-button:hover{
        background-color: var(--active_color);;
        color: #0E0C38;
    }
    .small-link{
        color: var(--small_color);
        font-size: var(--small_size);
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .small-link:hover{
        color: white;
    }
    .hasUnderline{
        display: inline-block;
        border-bottom: 2px solid var(--small_color);
        transition: all 0.5s ease;
    }
    .hasUnderline:hover{
        border-color: white;
    }
    .profile-image {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
    }

    .profile {
        margin: 50px 0;
        display: block;    
    }

    .profile-image img {
        display: block;
        width: 150px;
        height: 150px;
    }
    .profile-text{
        margin: 20px;
    }
    .profile-text p {
        font-size: 25px;
        text-align: center;
        line-height: 40px;
    }
    .field-title{
        margin: 50px 0 10px 0;
    }
    .field-title h1{
        font-size: 30px;
    }
    .porfolio-content{
        display: block;
        width: 100%;
    }
    .portfolio-box {
        width: 200px;
        position: relative;
        height: 200px;
        margin:20px auto
    }
    .portfolio-text {
        height: 100px;
        position: absolute;
        bottom: 20px;
        left: 12px;
    }
    .porfolio-content:nth-child(3) {
        display: none
     }
    .profolio-field button{
        margin:auto;
        display: block;
    }
    .contact-content{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
    
    }
    .contact-box{
        width:100px;
        height: 100px;
        margin: 0 20px;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .contact-box:hover{
        transform: scale(1.3);
    }
    .contact-box img{
        width: 100%;
    }
    footer img{
        width: 50%;
    }
    footer div {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto
    }
    }